body {
    background-color: #f5f5dd;
    margin-left: 450px;
}

.klasa {
    width: 400px;
    height: 400px;
    margin-bottom: 15px;

}

.klasa-jeden {
    background-color:rgb(0, 0, 0, 1.0);
}

.klasa-dwa {
    background-color:rgb(0, 0, 0, 0.8);

}

.klasa-trzy {
    background-color:rgb(0, 0, 0, 0.6);

}

.klasa-cztery {
    background-color:rgb(0, 0, 0, 0.4);

}